<suite name = "Poc automation suite">
 <parameters>
   <parameter name="browser"  value="chrome"/>
   <parameter name="url"  value="http://automationexercise.com"/>
 </parameters>
 <test  name="Sanity tests">
   <classes>
      <class name="com.poc.tests.Test1"/>
      <class name="com.poc.tests.Test2"/>
      <class name="com.poc.tests.Test3"/>
   </classes>
 </test>
</suite>